from flask import Flask,request,jsonify
import requests
import time
API_KEY = input("你的API_KEY钥->")
BASE_URL = input("你的API地址->")
PATH = "/chat/completions"
if BASE_URL[-1] == "/":
    BASE_URL = BASE_URL[:-1]
if PATH not in BASE_URL:
    BASE_URL += PATH
MODEL = input("你的AI模型->")
app = Flask(__name__)
@app.route(rule="/chat/completions",methods=['POST'])
def chat():
    data = request.get_json()
    data["model"] = MODEL
    headers = {"Authorization": f"Bearer {API_KEY}"}
    try:
        response = requests.post(BASE_URL,json=data,headers=headers)
    except:
        print("你的API_KEY或API地址或大模型有问题")
        print("请重新运行此程序")
        return 0
    content = response.json()["choices"][0]["message"]["content"]
    return jsonify({
        "id": "chatcmpl-verity",
        "object": "chat.completion",
        "created": int(time.time()*1000),
        "model": "glm-4-flash",
        "choices": [{
            "index": 0,
            "message": {
                "role": "assistant",
                "content": content
            },
            "finish_reason": "stop"
        }],
        "usage": {
            "prompt_tokens": 10,
            "completion_tokens": 20,
            "total_tokens": 30
        }
    })
if __name__ == "__main__":
    print("注意要保持开启后,Verity才能正常对话")
    print("将http协议粘贴到Verity配置Local LLM的LiteLLM URL")
    print("http://127.0.0.1:5000粘贴应再加/")
    app.run(debug=False,port=5000,host="127.0.0.1")
